
<div class = 'socialbar'>
	{% if site.author.email %}
    <a href="mailto:{{ site.author.email }}">
      <i class="fa fa-envelope-square fa-sm fw"></i>
    </a>
	{% endif %}
	{% if site.author.insta_username %}
    <a href="https://www.instagram.com/{{ site.author.insta_username }}">
      <i class="fa fa-instagram fa-sm fw"></i> 
    </a>
	{% endif %}
	{% if site.author.linkedin_username %}
    <a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}">
      <i class="fa fa-linkedin fa-sm fw"></i> 
    </a>
	{% endif %}
	{% if site.author.github_username %}
    <a href="https://github.com/{{ site.author.github_username }}">
      <i class="fa fa-github fa-sm fw"></i> 
    </a>
	{% endif %}
</div>