---
layout: default
---
<div class = 'socialbar'>
	{% if site.author.email %}
    <a href="mailto:{{ site.author.email }}">
      <i class="fa fa-envelope-square"></i>
    </a>
	{% endif %}
	{% if site.author.insta_username %}
    <a href="https://www.instagram.com/{{ site.author.insta_username }}">
      <i class="fa fa-instagram"></i> 
    </a>
	{% endif %}
	{% if site.author.linkedin_username %}
    <a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}">
      <i class="fa fa-linkedin"></i> 
    </a>
	{% endif %}
	{% if site.author.github_username %}
    <a href="https://github.com/{{ site.author.github_username }}">
      <i class="fa fa-github"></i> GitHub
    </a>
	{% endif %}
</div>
