// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  height:80px;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: lightgrey; 
  display: flex; 
  flex-direction:row; 
  justify-content:space-between; 
  font-weight:600; 

  a {
    color: lightgrey;
    font-size:1.4rem;
    font-weight:600; 
  }

  .linksocial{
    float:center; 
  }

  small {
    color: lightgrey;
    font-size: 1.4rem;
    font-weight: 400;
    float:right;
    font-weight:600; 
  }

  

}
