// bar of social media icons. 

.socialbar {

	text-align:left;
	color:$gray-3;
	padding-left:10px; 
	height:70px; 
	font-size:48px; 

	a{
    display:inline-block; 
    width:70px;
    color:$gray-3; 
    padding:5px; 
    padding-left:15px; 
    padding-right:15:px; 
  }

  i{
	color:$gray-3; 
	font-size:48px; 
	width:60px; 
	}

}

