// bar of social media icons. 

.socialbar {

	text-align:left;
	color:$gray-3;
	padding-left:10px; 
	height:70px; 
	font-size:48px; 

	a{
    display:inline-block; 
    width:70px;
    color:$gray-3; 
    padding:5px; 
    margin-left:25px; 
    margin-right:25px; 
  }

  i{
		color:$gray-3; 
	}

}

